.videobg {
position: absolute;
bottom: 0;
right: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -1000;
overflow: hidden;
/*  position: absolute;
  bottom: 50%; 
  right: 50%;
  transform: translateX(-50%) translateY(-50%)
  min-width: 100%; 
  min-height: 100%; 
  width: auto; 
  height: auto;
  z-index: -1000; 
  overflow: hidden*/
}

.video{
    
    width: 100%;
    height: 100%;
}

.header_fixed {
width: 100%;
color: #FFF;
border-color: #FFF;
position: fixed;
overflow: hidden;
height: 98px;
z-index: 999999;
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.quote {
    color: rgba(0,0,0,.1);
    text-align: center;
    margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #428BCA;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

ol.boxes-list {
    list-style-type: none;
    list-style-type: decimal !ie; /*IE 7- hack*/
     
    margin: 0;
    margin-left: 3em;
    padding: 0;
     
    counter-reset: li-counter;
}
ol.boxes-list > li{
    position: relative;
    margin-bottom: 15px;
    padding: 1em;
     
    background-color: #d5d5d5;
}
ol.boxes-list > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.94em;
    height: 0.94em;
     
    font-size: 3em;
    line-height: 0.94;
    text-align: center;
    color: #f5f5f5;
 
    background-color: #464646;
    content: counter(li-counter);
    counter-increment: li-counter;
}

body { padding-top: 70px; }